{% extends '@WucdbmMenuBuilderClient/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <li>Dashboard</li>
{% endblock %}