<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info">
                Your new link has been created
            </div>
        </div>
    </div>
</div>