{% form_theme form '@WucdbmMenuBuilderClient/_shared/form/form_theme.html.twig' %}
{{ form_start(form, {action: path('wucdbm_menu_builder_client_menu_item_choose_route', {id: menu.id, parentId: parentId})}) }}
{{ form_errors(form) }}
{{ form_rest(form) }}
<div class="form-group">
    <button type="submit" class="btn btn-default">
        Select Page
    </button>
</div>
{{ form_end(form) }}