body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000;
}

ol.vertical {
    margin: 0 0 9px 0;
    min-height: 10px;
}

ol.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee;
}

ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

ol.vertical li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
}

ol {
    list-style-type: none;
}

ol i.icon-move {
    cursor: pointer;
}

ol li.highlight {
    background: #333333;
    color: #999999;
}

ol li.highlight i.icon-move {
    background-image: url("../img/glyphicons-halflings-white.png");
}

ol.nested_with_switch, ol.nested_with_switch ol {
    border: 1px solid #eeeeee;
}

ol.nested_with_switch.active, ol.nested_with_switch ol.active {
    border: 1px solid #333333;
}

ol.nested_with_switch li, ol.simple_with_animation li, ol.serialization li, ol.default li {
    cursor: pointer;
}

ol.simple_with_animation {
    border: 1px solid #999999;
}

.switch-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

.navbar-sort-container {
    height: 200px;
}

ol.nav li, ol.nav li a {
    cursor: pointer;
}

ol.nav .divider-vertical {
    cursor: default;
}

ol.nav li.dragged {
    background-color: #2c2c2c;
}

ol.nav li.placeholder {
    position: relative;
}

ol.nav li.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: red;
    top: -6px;
    margin-left: -5px;
    border-bottom: none;
}

ol.nav ol.dropdown-menu li.placeholder:before {
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    margin-left: 0;
    top: 0;
    left: 10px;
    border-right: none;
}

.sorted_table tr {
    cursor: pointer;
}

.sorted_table tr.placeholder {
    display: block;
    background: red;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

.sorted_table tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none;
}

.sorted_head th {
    cursor: pointer;
}

.sorted_head th.placeholder {
    display: block;
    background: red;
    position: relative;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.sorted_head th.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: red;
    top: -6px;
    margin-left: -5px;
    border-bottom: none;
}

/** Sortable custom - vertical **/

.dragged {
    opacity: 1;
}

ol.vertical-custom {
    margin: 0 0 9px 0;
    min-height: 10px;
    padding-left: 0;
}

ol.vertical-custom ol.vertical-custom {
    padding-left: 20px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

ol.vertical-custom:empty {
    display: none;
}

ol.vertical-custom li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ol.vertical-custom li:last-child {
    margin-bottom: 0;
}

ol.vertical-custom li.placeholder {
    position: relative;
    height: 34px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    color: red;
}

ol.vertical-custom li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: 0;
    left: -14px;
    top: 8px;
    border: 7px solid transparent;
    border-left-color: red;
    border-right: none;
}

/** Sortable custom - vertical **/

ol.vertical-simple {
    margin: 0 0 9px 0;
    min-height: 10px;
    padding: 0;
}

ol.vertical-simple  .dragged {
    opacity: 0.6;
}

ol.vertical-simple ol.vertical-simple {
    padding: 0 0 0 30px;
    margin: 0;
}

ol.vertical-simple:empty {
    display: none;
}

ol.vertical-simple.hover, ol.vertical-simple ol.vertical-simple.hover {
    border-left: 1px solid red;
    margin-left: 0;
    padding: 0 0 0 29px;
}

ol.vertical-simple.hover > li > div.sortable-actions {
    position: relative;
}

ol.vertical-simple.hover > li > div.sortable-actions:before {
    left: -18px;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: 0;
    top: 8px;
    border: 7px solid transparent;
    border-left-color: red;
    border-right: none;
}

ol.vertical-simple.hover > li.dragged > div.sortable-actions:before {
    /* Sometimes, the dragged element is hovered over its original container */
    /* We just don't want it to have an arrow */
    display: none;
}

ol.vertical-simple.hover > li.placeholder:before {
    left: -18px;
}

ol.vertical-simple li {
    display: block;
    margin: 0;
    padding: 0 0 5px 0;
}
ol.vertical-simple > li:first-child {
    margin-top: 5px;
}

ol.vertical-simple li div.sortable-actions {
    display: block;
    margin: 0;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ol.vertical-simple li.placeholder {
    position: relative;
    height: 34px;
    display: block;
    margin: 5px 0 5px 0;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #fff;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fc0 0%, #f00 100%);
    background: -moz-linear-gradient(top, #fc0 0%, #f00 100%);
    background: linear-gradient(top, #fc0 0%, #f00 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-shadow: 1px 1px #000;
}

ol.vertical-simple li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: 0;
    left: -14px;
    top: 8px;
    border: 7px solid transparent;
    border-left-color: red;
    border-right: none;
}