body {
    padding-top: 70px;
}

.filter-form {
    margin-bottom: 15px;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

.table > thead:first-child > tr:first-child > th {
    border-bottom: 0;
}

.navbar-brand {
    padding: 5px;
    width: 50px;
    display: block;
}

.btn .label.pull-right, .btn .label.pull-right {
    top: 2px;
}

/** Sortable custom **/
ol.vertical li {
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dragged {
    opacity: 1;
}

ol.vertical {
    padding-left: 0;
}

ol.vertical:empty {
    display: none;
}

ol.vertical ol.vertical {
    padding-left: 20px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

ol.vertical li:last-child {
    margin-bottom: 0;
}

ol.vertical li.placeholder {
    height: 34px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    color: red;
}

ol.vertical li.placeholder:before {
    margin-top: 0;
    left: -14px;
    top: 8px;
    border: 7px solid transparent;
    border-left-color: red;
}