{% extends '@WucdbmMenuBuilderClient/layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('wucdbm_menu_builder_client_menu_list') }}">
            Menus
        </a>
    </li>
{% endblock %}